body {
  /*background-color: green;*/
  background: url(css-img/vacation.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#show-location {
  display: none;
}

.location {
  cursor: alias;
  color: inherit;
}


.container{
  background: rgba(210, 199, 205, 0.5);
}
